{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}
<div id="content">
<div class="inner">
<article class="box post post-excerpt">
    <header><h2>Who is G (not C)?</h2>
    </header>

I am a geek and I do <a href="http://aroaminggeek.com">Geeky things</a>.  <br>
I am a <a href="https://geocaching.com">Geocacher</a> and <a href="http://www.geocaching.com/profile/?guid=0d9316ec-27e8-4989-a91e-560792196ed5">one half</a> of a <a href="https://www.geocaching.com/profile/?guid=cf27cc65-5d09-4717-82a9-67e8965c2daa">geocaching team</a>.  <br>
I am a <a href="http://dudeism.com">Dudeist</a> Priest.  <br>
I am Greg, not Craig.  <br>
G, not C.  <br>
<img src="/images/dude.jpg">
</article>
</div>
</div>
{% endblock %}
