{% extends "base.html" %}
{% block content %}
<div id="content">
<div class="inner">
<article class="box post post-excerpt">


<header> 
<h2>Archives for {{ SITENAME }}</h2>
</header>
{% for year, year_articles in articles|groupby('date.year')|sort(reverse=True) %}
<h2>{{ year }}</h2>
{% for month, month_articles in year_articles|groupby('date.month')|sort(reverse=True) %}
          {% for article in month_articles|sort(attribute='date',reverse=True) %}

    <p><b>{{ article.date | strftime('%B')}} {{  article.date.day| ordinal() }}:</b> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> - {{ article.headline }}</p>
{% endfor %}
{% endfor %}
{% endfor %}
</article>
</div>
</div>
{% endblock %}
