<!-- Sidebar -->
            <div id="sidebar">

                <!-- Logo -->
                    <h1 id="logo"><a href="/">{{ SITENAME }}</a></h1>
                    <!-- Text -->
                    <section class="box text-style1">
                        <div class="inner">
                            <p>
                                <strong>{{SITESUBTITLE}}</strong>
                            </p>
                        </div>
                    </section>
                {% include "nav.html" %}

                <!-- Search -->
                    <!-- <section class="box search">
                        <form method="post" action="#">
                            <input type="text" class="text" name="search" placeholder="Search" />
                        </form>
                    </section> -->

                

                <!-- Recent Posts -->
                    <section class="box recent-posts">
                        <header>
                            <h2>Contact Me</h2>
                        </header>
                        <ul>
                            <li><a class="icon fa-envelope" href="mailto:blarg@gnotc.com"> eMail</a></li>
                            <li><a class="icon fa-twitter" href="https://twitter.com/digitalnomad70"> Twitter</a></li>
                            <li><a class="icon fa-facebook" href="https://fb.me/iamnotcraig"> Facebook</a></li>
                            <li><a class="icon fa-github" href="https://github.com/digitalnomadstudio"> Github</a></li>
                            
                        </ul>
                    </section>



                <!-- Copyright -->
                    <ul id="copyright">
                        <li>Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        <li>Modified under a <a href="https://creativecommons.org/licenses/by/3.0/">CC:BY</a> license.</li>
                    </ul>

            </div><!-- /#menu -->